# ENV
NODE_ENV=development
HOST=0.0.0.0
PORT=3000
LOG_LEVEL=info

DATABASE_URL=postgresql://admin:postgre@localhost:5438/async_contact_importer

# POOL PG
DATABASE_POOL_MAX=10
DATABASE_CONNECTION_TIMEOUT_MS=5000
DATABASE_IDLE_TIMEOUT_MS=30000
